Se importan librerias y paquetes necesarios.

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder

Carga y cruce de las bases de datos

In [2]:
games=pd.read_parquet('Datos_parquet/games.parquet')

In [3]:
games.head()

,genres,app_name,tags,price,id,developer,release_anio
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",4.99,761140,Kotoshiro,2018
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",0.00,643980,Secret Level Srl,2018
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,"['Free to Play', 'Simulation', 'Sports', 'Casu...",0.00,670290,Poolians.Com,2017
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,"['Action', 'Adventure', 'Casual']",0.99,767400,彼岸领域,2017
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,"['Action', 'Adventure', 'Simulation', 'FPS', '...",3.99,772540,Trickjump Games Ltd,2018

In [4]:
users=pd.read_parquet('Datos_parquet/users.parquet')

In [5]:
users.head()

             user_id  items_count  item_id  playtime_forever
0  76561197970982479          277       10               6.0
1  76561197970982479          277       20               0.0
2  76561197970982479          277       30               7.0
3  76561197970982479          277       40               0.0
4  76561197970982479          277       50               0.0

In [6]:
games['release_anio'].unique()

array(['2018', '2017', '1997', '1998', '2016', '2006', '2005', '2003',
       '2007', '2002', '2000', '1995', '1996', '1994', '2001', '1993',
       '2004', '2008', '2009', 'Jun 2009', '1999', '1992', '1989', '2010',
       '2011', 'Oct 2010', 'Feb 2011', '2013', '2012', '2014', '1983',
       '1984', '2015', 'Sep 2014', '1990', '1988', '1991', 'Apr 2015',
       'Apr 2016', 'Jul 2016', '1987', 'Jul 2017', '1986', '2021', '2019',
       'Apr 2017', 'Jan 2017', 'Nov 2016', 'Oct 2016', 'Jun 2016',
       'Aug 2015', 'Jun 2015', 'May 2015', 'Feb 2015', 'Jan 2015', '1985',
       'Nov 2014', 'Aug 2014', 'Jul 2014', 'May 2014', 'Feb 2013',
       'Dec 2012', 'Jul 2010', 'Mar 2010', 'Jan 2010', 'Oct 2009',
       'Sep 2009'], dtype=object)

In [7]:
games['release_anio'] = games['release_anio'].str.replace(r'[A-Za-z]', '', regex=True)

In [8]:
games['release_anio'].unique()

array(['2018', '2017', '1997', '1998', '2016', '2006', '2005', '2003',
       '2007', '2002', '2000', '1995', '1996', '1994', '2001', '1993',
       '2004', '2008', '2009', ' 2009', '1999', '1992', '1989', '2010',
       '2011', ' 2010', ' 2011', '2013', '2012', '2014', '1983', '1984',
       '2015', ' 2014', '1990', '1988', '1991', ' 2015', ' 2016', '1987',
       ' 2017', '1986', '2021', '2019', '1985', ' 2013', ' 2012'],
      dtype=object)

In [9]:
games['release_anio']=games['release_anio'].astype(int)

In [12]:
populares=pd.merge(games, users [['item_id','playtime_forever']], left_on='id', right_on='item_id', how='inner' )

In [13]:
populares.head()

,genres,app_name,tags,price,id,developer,release_anio,item_id,playtime_forever
0,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,282010,5.0
1,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,282010,0.0
2,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,282010,0.0
3,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,282010,0.0
4,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",9.99,282010,Stainless Games Ltd,1997,282010,13.0

In [18]:
populares.drop(columns=['item_id','id'],inplace=True)

Se toman datos solo desde el año 2016

In [14]:
populares=populares[populares['release_anio']>=2016]

Se guarda el dataset

In [22]:
#populares.to_parquet(r'prime_games.parquet', index=False)

Se inicia el codigo para el entorno virtual

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder

In [16]:
prime_games=pd.read_parquet('Datos_parquet/prime_games.parquet')

In [17]:
prime_games.head()

,genres,app_name,tags,price,developer,release_anio,playtime_forever
0,"['Education', 'Software Training', 'Utilities'...",Driver Fusion Premium,"['Utilities', 'Education', 'Web Publishing', '...",40.0,Treexy,2017,796.0
1,"['Education', 'Software Training', 'Utilities'...",Driver Fusion Premium,"['Utilities', 'Education', 'Web Publishing', '...",40.0,Treexy,2017,76.0
2,"['Education', 'Software Training', 'Utilities'...",Driver Fusion Premium,"['Utilities', 'Education', 'Web Publishing', '...",40.0,Treexy,2017,331.0
3,"['Education', 'Software Training', 'Utilities'...",Driver Fusion Premium,"['Utilities', 'Education', 'Web Publishing', '...",40.0,Treexy,2017,471.0
4,"['Education', 'Software Training', 'Utilities'...",Driver Fusion Premium,"['Utilities', 'Education', 'Web Publishing', '...",40.0,Treexy,2017,886.0

In [19]:
prime_games['playtime_forever'].unique()

array([  796.,    76.,   331., ..., 32080., 38720., 21260.])

In [20]:
prime_games.describe()

C:\Users\57319\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

               price   release_anio  playtime_forever
count  353915.000000  353915.000000          353915.0
mean       12.187114    2016.336530               inf
std        17.404857       0.473515               NaN
min         0.000000    2016.000000               0.0
25%         0.000000    2016.000000               0.0
50%         1.990000    2016.000000              62.0
75%        19.980000    2017.000000             461.0
max       120.000000    2018.000000               inf

Se elimiman los inf, son outliers que estan afectando el promedio.

In [21]:
prime_games.replace([np.inf],np.nan, inplace=True)

In [22]:
prime_games.dropna(inplace=True)

In [23]:
prime_games.describe()

               price   release_anio  playtime_forever
count  353815.000000  353815.000000     353815.000000
mean       12.181201    2016.336436        773.722878
std        17.397558       0.473483       2577.658246
min         0.000000    2016.000000          0.000000
25%         0.000000    2016.000000          0.000000
50%         1.990000    2016.000000         62.000000
75%        19.980000    2017.000000        460.000000
max       120.000000    2018.000000      65150.000000

In [24]:
prime_games.shape

(353815, 7)

Se guarda esta ultima base de datos

In [25]:
prime_games.to_parquet(r'prime_games_clean.parquet', index=False)

Se suma el tiempo jugado por titulo

In [26]:
df_playtime=prime_games.groupby('app_name')['playtime_forever'].sum().reset_index()

In [27]:
df_playtime.head()

                                       app_name  playtime_forever
0  ! That Bastard Is Trying To Steal Our Gold !             742.0
1                                       $1 Ride            1522.0
2                                          .Exe               0.0
3                 1 Moment Of Time: Silentville            4888.0
4                           10 Minute Barbarian             215.0

In [32]:
df_playtime=df_playtime.sort_values(by='playtime_forever',ascending=True)

In [33]:
df_playtime.head()

                            app_name  playtime_forever
1060  Leave Me Alone: A Trip To Hell               0.0
1641              Selma And The Wisp               0.0
300                        Breakneck               0.0
1848        Super Intergalactic Gang               0.0
1172                       Mechagore               0.0

In [30]:
df_playtime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2274 entries, 2132 to 1060
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   app_name          2274 non-null   object
 1   playtime_forever  2274 non-null   float64
dtypes: float64(1), object(1)
memory usage: 53.3+ KB

Se eliminan tiempos de juego en cero

In [34]:
df_playtime=df_playtime[df_playtime['playtime_forever']>0]

In [35]:
df_playtime=df_playtime.sort_values(by='playtime_forever',ascending=True)

In [36]:
df_playtime.head()

                                   app_name  playtime_forever
1208                            Mimic Arena               1.0
410                              Copy Kitty               1.0
1896                   Tales Of Destruction               1.0
1223  Momento Temporis: Light From The Deep               1.0
884                          Help: The Game               1.0

In [37]:
df_playtime=df_playtime.sort_values(by='playtime_forever',ascending=False)

In [38]:
df_playtime.head()

                   app_name  playtime_forever
2132               Unturned        50169965.0
133   Ark: Survival Evolved        34308224.0
1793              Starbound        27705592.0
1572              Robocraft        22542750.0
891       Heroes & Generals        13436733.0

se cruzan las bases de datos

In [39]:
data=pd.merge(df_playtime['app_name'], games, left_on='app_name', right_on='app_name', how='inner')

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   app_name      2014 non-null   object
 1   genres        2014 non-null   object
 2   tags          2014 non-null   object
 3   price         2014 non-null   float64
 4   id            2014 non-null   int64
 5   developer     2014 non-null   object
 6   release_anio  2014 non-null   int32
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 102.4+ KB

Se descarta el año de lanzamiento

In [42]:
data.drop('release_anio',axis=1,inplace=True)

In [43]:
data.to_parquet(r'data.parquet', index=False)

Se usa el modelo de similitud del coseno de acuerdo a los lineamientos dados

Se genera el codigo para el entorno virtual con los data sets definitivos

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder

In [44]:
df=pd.read_parquet('data.parquet')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   app_name   2014 non-null   object
 1   genres     2014 non-null   object
 2   tags       2014 non-null   object
 3   price      2014 non-null   float64
 4   id         2014 non-null   int64
 5   developer  2014 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 94.5+ KB

In [46]:
df.head()

,app_name,genres,tags,price,id,developer
0,Unturned,"['Action', 'Adventure', 'Casual', 'Free to Pla...","['Free to Play', 'Survival', 'Zombies', 'Multi...",0.00,304930,Smartly Dressed Games
1,Ark: Survival Evolved,"['Action', 'Adventure', 'Indie', 'Massively Mu...","['Survival', 'Dinosaurs', 'Open World', 'Multi...",60.00,346110,"Studio Wildcard,Instinct Games,Efecto Studios,..."
2,Starbound,"['Action', 'Adventure', 'Casual', 'Indie', 'RPG']","['Sandbox', 'Adventure', 'Survival', 'Indie', ...",14.99,211820,Chucklefish
3,Robocraft,"['Action', 'Free to Play', 'Indie', 'Massively...","['Free to Play', 'Robots', 'Building', 'Multip...",0.00,301520,Freejam
4,Heroes & Generals,"['Action', 'Free to Play', 'Indie', 'Massively...","['Free to Play', 'World War II', 'Multiplayer'...",0.00,227940,Reto-Moto

In [47]:
df.reset_index(drop=True, inplace=True)

Se vectorizan, nombres, generos y tags

In [48]:
vectorizer=TfidfVectorizer()
tfidf_matrix=vectorizer.fit_transform(df[['app_name','genres','tags']].apply(lambda x: ' '.join(x),axis=1))

Se calcula la cantidad de memoria en bytes

In [49]:
memory_in_bytes = (tfidf_matrix.data.nbytes + tfidf_matrix.indices.nbytes + tfidf_matrix.indptr.nbytes)

Conversion a megabytes

In [50]:
memory_in_megabytes = memory_in_bytes / (1024 * 1024)

In [51]:
print(f"Memory: {memory_in_megabytes} MB")

Memory: 0.31650543212890625 MB

Calculando la matriz de similitud del coseno

In [52]:
similarity_matrix=cosine_similarity(tfidf_matrix)

In [53]:
memory_in_bytes = similarity_matrix.nbytes

In [54]:
memory_in_megabytes = memory_in_bytes / (1024 * 1024)

In [55]:
print(f"Memory: {memory_in_megabytes} MB")

Memory: 30.946319580078125 MB

#Se crea el modelo de recomendación y se prueba con un id de un juego

In [56]:

item_id=508290
if df[df['id']==item_id].empty:
    print('No existe el item')
else:
    producto_index=df[df['id']==item_id].index[0]
    product_similarities=similarity_matrix[producto_index]
    most_similar_products_index=np.argsort(-product_similarities)[1:6]
    most_similar_products=df.loc[most_similar_products_index,'app_name']
    print(most_similar_products)

767            The Beggar'S Ride
1915           Slide Ride Arcade
1258    Funfair Ride Simulator 3
1411                    Tiltagon
458                   Surfingers
Name: app_name, dtype: object

#Se revisan los resultados

In [57]:
most_similar_products.values.tolist()

["The Beggar'S Ride",
 'Slide Ride Arcade',
 'Funfair Ride Simulator 3',
 'Tiltagon',
 'Surfingers']